
/* admin_disply css */

.tab_menu li {
	font-size: 12Px;
	border-right: inset;
	border-bottom: inset;
	float: left;
	padding: 5px;
 background-color:;
	border-color: green;
	list-style: circle;
	line-height: 1.5;
	display: block;
}
.tab_menu .active {
 background-color:;
}

.clearfix {
	overflow: hidden;
}

.tab_box .softwares {
	display: none;
}
.tab_box .maintenance {
	display: none;
}
.tab_box .hardwares {
	display: none;
}
.tab_box .add {
	display: none;
}
.tab_box .backup {
	display: none;
}
.tab_box .email {
	display: none;
}
.tab_box .local1 {
	display: none;
}
.tab_box .local {
	display: none;
}
.tab_box .remote {
	display: none;
}
/* softwaredisplay css */

/*simple clearfix for demo*/

/*hide inactive tab content by default*/

.tab_box .cos{
	display: none;
}

.tab_box .cp {
	display: none;
}
.tab_box .so {
	display: none;
}
.tab_box .so {
	display: none;
}
.tab_box .sp {
	display: none;
}
.tab_box .sp2 {
	display: none;
}

/*assetdisplay css */


/*hide inactive tab content by default*/


.no-gutter >[class*='col-'] {

  padding-right: 5px;
  padding-left: 5px;
}

.pagi:visited {
  color: black;
}
.pagi:hover {
  color: yellow;
}
.pagi:active {
  color: red;
  transform: translateY(4px);
}