/* modal logout popup*/
#currentSeconds {
	font-size:48px;
	text-align:center;
	color:#f9dada ;
}
#spantimer {
	font-size:56px;
	color:#093;
}
/**/
.goto {
	cursor: pointer;
}
/*COLORS*/
.orange {
    color: #fb6e52!important;
}
.azure {
    color: #48C3E9!important;
}
.darkorange {
    color: #ed4e2a!important;
}
.red {
    color: color: #FF0000;!important;
}
.yellow {
    color: color: #FF0;!important;
}
.purple {
    color: color: #7e3794;!important;
}
.btn-yellow,.btn-yellow:focus {
    background-color: #ffce55!important;
    border-color: #ffce55;
    color: #fff;
}

.btn-yellow:hover {
    color: #fff;
}

.btn-yellow.dropdown-toggle {
    border-left-color: #f6d52e!important;
}

.btn-yellow.active {
    background-color: #fbc220!important;
    border-color: #f3ba17;
    color: #fff!important;
}
.btn-palegreen,.btn-palegreen:focus {
    background-color: #a0d468!important;
    border-color: #a0d468;
    color: #fff;
}

.btn-palegreen:hover {
    color: #fff;
}

.btn-palegreen.dropdown-toggle {
    border-left-color: #a6d791!important;
}

.btn-palegreen.active {
    background-color: #74aa5d!important;
    border-color: #699755;
}
.white{
	color:#fff;
}
/**/
.bg-blue {
    background-color: #5DB2FF !important;
}
.bg-orange {
    background-color: #FB6E52 !important;
}
.bg-blue {
    background-color: #03A9F4 !important;
}
.bg-lightgreen {
    background-color: #A0D468 !important;
}
/**/
.vhide {
	visibility: hidden;
}
.bordered-magenta {
    border-color: #bc5679!important;
}
.bordered-left-1 {
    border-left: 1px solid #fff;
}

.bordered-left-2 {
    border-left: 2px solid #fff;
}

.bordered-left-3 {
    border-left: 3px solid #fff;
}

.bordered-left-4 {
    border-left: 4px solid #fff;
}
.bordered-green {
    border-color: #8cc474!important;
}
.bordered-right-4 {
    border-right: 4px solid #fff;
}

/**/
.paddingbottom-10{
	padding-bottom:10px;
}
/**/
.list-group {
    padding-left: 0px;
    margin-bottom: 20px;
}
.list-group.tickets .list-group-item {
    padding: 8px 15px;
}
.list-group.tickets .list-group-item {
    overflow: hidden;
    margin-bottom: 10px;
    background: none repeat scroll 0% 0% #F2F2F2;
    border-radius: 4px;
    border: 0px none;
}
.list-group-item:first-child {
    border-radius: 0px;
}
.list-group-item:first-child {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}
.list-group-item {
    font-size: 12px;
    padding: 13px 15px;
    line-height: 22px;
}
.list-group-item {
    position: relative;
    display: block;
    padding: 10px 15px;
    margin-bottom: -1px;
    background-color: #FFF;
    border: 1px solid #DDD;
}
.list-group.tickets .list-group-item .name {
    margin: 0px 0px 5px;
    font-size: 13px;
    font-weight: 600;
}
.block-flat .content {
    padding: 15px 3px 0px;
}
.block-flat .content h4 {
    margin-top: 20px;
    font-size: 16px;
}
.list-group-item h4 {
    margin-bottom: 8px;
    font-size: 15px;
}
.list-group-item h4 {
    margin-bottom: 8px;
    font-size: 17px;
}
.list-group.tickets .list-group-item p {
    margin: 0px;
    line-height: 12px;
}
.list-group.tickets .list-group-item .date {
    font-size: 11px;
    color: #999;
}
.list-group.tickets .list-group-item .label {
    line-height: 16px;
    margin-top: 5%;
}
.label-primary {
    background-color: #7761A7;
}
/*wall curcle*/
.circlebig
{
	width:40px;
	height:40px;
	border-radius:20px;
	font-size:18px;
	line-height:40px;
	text-align:center;
	margin-right:10px;
}
.circlesmall { 
	width:30px;
	height:30px;
	border-radius:20px;
	font-size:14px;
	line-height:30px;
	text-align:center;
	margin-right:10px;
}

/*TABLE*/
   overflow-x: auto;
}
/* BADGE = LABELS*/
.badge {
    font-size: 11px!important;
    font-weight: 300;
    text-align: center;
    background-color: #ccc;
    height: 18px;
    padding: 3px 6px 3px 6px;
    -webkit-border-radius: 12px!important;
    -webkit-background-clip: padding-box!important;
    -moz-border-radius: 12px!important;
    -moz-background-clip: padding!important;
    border-radius: 12px!important;
    background-clip: padding-box!important;
    -webkit-text-shadow: none!important;
    text-shadow: none!important;
    vertical-align: middle;
}
.badge.badge-square {
    -webkit-border-radius: 2px!important;
    -webkit-background-clip: padding-box!important;
    -moz-border-radius: 2px!important;
    -moz-background-clip: padding!important;
    border-radius: 2px!important;
    background-clip: padding-box!important;
}

.badge.badge-empty {
    display: inline-block;
    width: 10px;
    height: 10px;
    padding: 0;
    vertical-align: baseline;
}

.badge-default,.label-default {
    background-color: #ccc!important;
}

.badge-default.graded,.label-default.graded {
    background: linear-gradient(to right,#ccc,#e5e5e5)!important;
}

.badge-blue,.label-blue {
    background-color: #5db2ff!important;
}

.badge-blue.graded,.label-blue.graded {
    background: linear-gradient(to right,#5db2ff,#80c1fb)!important;
}

.label-info,.badge-info {
    background-color: #57b5e3;
    background-image: none!important;
}

.label-info.graded,.badge-info.graded {
    background: linear-gradient(to right,#57b5e3,#c4e6f6)!important;
}

.label-sky,.badge-sky {
    background-color: #11a9cc;
    background-image: none!important;
}

.label-sky.graded,.badge-sky.graded {
    background: linear-gradient(to right,#11a9cc,#c4e6f6)!important;
}

.badge-primary,.label-primary {
    background-color: #4374e0!important;
}

.badge-primary.graded,.label-primary.graded {
    background: linear-gradient(to right,#4374e0,#aec9fa)!important;
}

.label-azure,.badge-azure {
    background-color: #2dc3e8;
    background-image: none!important;
}

.label-azure.graded,.badge-azure.graded {
    background: linear-gradient(to right,#2dc3e8,#5edfff)!important;
}

.label-blueberry,.badge-blueberry {
    background-color: #6f85bf;
    background-image: none!important;
}

.label-blueberry.graded,.badge-blueberry.graded {
    background: linear-gradient(to right,#6f85bf,#ced5e9)!important;
}

.label-palegreen,.badge-palegreen {
    background-color: #a0d468;
    background-image: none!important;
}

.label-palegreen.graded,.badge-palegreen.graded {
    background: linear-gradient(to right,#a0d468,#c5e9b6)!important;
}

.label-success,.badge-success {
    background-color: #53a93f;
    background-image: none!important;
}

.label-success.graded,.badge-success.graded {
    background: linear-gradient(to right,#53a93f,#b0e0a4)!important;
}

.label-green,.badge-green {
    background-color: #8cc474;
    background-image: none!important;
}

.label-green.graded,.badge-green.graded {
    background: linear-gradient(to right,#8cc474,#a0d468)!important;
}

.label-lightyellow,.badge-lightyellow {
    background-color: #f6d52e;
    background-image: none!important;
}

.label-lightyellow.graded,.badge-lightyellow.graded {
    background: linear-gradient(to right,#f6d52e,#f8e26d)!important;
}

.label-yellow,.badge-yellow {
    background-color: #ffce55;
    background-image: none!important;
}

.label-yellow.graded,.badge-yellow.graded {
    background: linear-gradient(to right,#ffce55,#f6d52e)!important;
}

.label-warning,.badge-warning {
    background-color: #f4b400;
    background-image: none!important;
}

.label-warning.graded,.badge-warning.graded {
    background: linear-gradient(to right,#f4b400,#f8df95)!important;
}

.label-gold,.badge-gold {
    background-color: #f9b256;
    background-image: none!important;
}

.label-gold.graded,.badge-gold.graded {
    background: linear-gradient(to right,#f9b256,#fece90)!important;
}

.label-orange,.badge-orange {
    background-color: #fb6e52;
    background-image: none!important;
}

.label-orange.graded,.badge-orange.graded {
    background: linear-gradient(to right,#fb6e52,#fb9f8d)!important;
}

.label-lightred,.badge-lightred {
    background-color: #e46f61;
    background-image: none!important;
}

.label-lightred.graded,.badge-lightred.graded {
    background: linear-gradient(to right,#e46f61,#f88f83)!important;
}

.label-darkorange,.badge-darkorange {
    background-color: #ed4e2a;
    background-image: none!important;
}

.label-darkorange.graded,.badge-darkorange.graded {
    background: linear-gradient(to right,#ed4e2a,#f5a998)!important;
}

.label-red,.badge-red {
    background-color: #df5138;
    background-image: none!important;
}

.label-red.graded,.badge-red.graded {
    background: linear-gradient(to right,#df5138,#f5836f)!important;
}

.label-pink,.badge-pink {
    background-color: #e75b8d;
    background-image: none!important;
}

.label-pink.graded,.badge-pink.graded {
    background: linear-gradient(to right,#e75b8d,#f299b9)!important;
}

.label-darkpink,.badge-darkpink {
    background-color: #cc324b;
    background-image: none!important;
}

.label-darkpink.graded,.badge-darkpink.graded {
    background: linear-gradient(to right,#cc324b,#fb6880)!important;
}

.label-danger,.badge-danger {
    background-color: #d73d32;
    background-image: none!important;
}

.label-danger.graded,.badge-danger.graded {
    background: linear-gradient(to right,#d73d32,#f7b5b0)!important;
}

.label-magenta,.badge-magenta {
    background-color: #bc5679;
    background-image: none!important;
}

.label-magenta.graded,.badge-magenta.graded {
    background: linear-gradient(to right,#bc5679,#e9abc0)!important;
}

.label-purple,.badge-purple {
    background-color: #7e3794;
    background-image: none!important;
}

.label-purple.graded,.badge-purple.graded {
    background: linear-gradient(to right,#7e3794,#daafe8)!important;
}

.label-maroon,.badge-maroon {
    background-color: #981b48;
    background-image: none!important;
}

.label-maroon.graded,.badge-maroon.graded {
    background: linear-gradient(to right,#981b48,#eab6c9)!important;
}

/*Pagination*/
#containerhelpdesk .paginationhelpdesk ul li.inactive,  #containerhelpdesk .paginationhelpdesk ul li.inactive:hover {
	background-color: #ededed;
	color: #FB9885;
	border: 1px solid #FB9885;
	cursor: default;
}
#containerhelpdesk .paginationhelpdesk ul li.active,  #containerhelpdesk .paginationhelpdesk ul li.active:hover {
	border: 1px solid #FB6E52;
}
#containerhelpdesk ul li {
	list-style: none;
	font-family: verdana;
	margin: 5px 0 5px 0;
	color: #000;
	font-size: 13px;
}
#containerhelpdesk .paginationhelpdesk {
	height: 25px;
}
#containerhelpdesk .paginationhelpdesk ul li {
	list-style: none;
	float: left;
	border: 1px solid #FB6E52;
	padding: 2px 6px 2px 6px;
	margin: 0 3px 0 3px;
	font-family: arial;
	font-size: 12px;
	color: #FB6E52;
	font-weight: bold;
	background-color: #FFF;
}
#containerhelpdesk .paginationhelpdesk ul li:hover {
	color: #fff;
	background-color: #FB6E52;
	border: 1px solid #FB6E52;
	cursor: pointer;
}
/*PANEL*/
.idpanel {
    border: medium none;
    box-shadow: none;
    margin-bottom: 25px;
	
}
.idpanel .idbuilt.panelheading {
    border-bottom: medium none;
}
.idpanel > .panelheading, .idpanel .idstruct {
    background: none repeat scroll 0% 0% #FFF;
    border: 1px solid #E4E5E7;
    padding: 10px;
    border-radius: 2px;
}
.idpanel > .panelheading {
    color: inherit;
    font-weight: 600;
    padding: 10px 4px;
    transition: all 0.3s ease 0s;
    border: 1px solid transparent;
}
.panelheading {
    padding: 10px 15px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}
.idpanel.idblue .panelbody {
    border-top: 2px solid #3498DB;
	border-bottom: 2px solid #3498DB;
}
.idpanel.idgreen .panelbody {
    border-top: 2px solid #62CB31;
}
.idpanel .panelbody {
    background: none repeat scroll 0% 0% #FFF;
    border: 1px solid #E4E5E7;
    border-radius: 2px;
    padding: 20px;
    position: relative;
}
.panelbody{
    padding: 15px;
}
.idpanel > .panelfooter {
    color: inherit;
    border-right: 1px solid #E4E5E7;
    border-width: medium 1px 1px;
    border-style: none solid solid;
    border-color: -moz-use-text-color #E4E5E7 #E4E5E7;
    -moz-border-top-colors: none;
    -moz-border-right-colors: none;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    border-image: none;
    font-size: 90%;
    background: none repeat scroll 0% 0% #F7F9FA;
}
.panelfooter {
    padding: 10px 15px;
    background-color: #F5F5F5;
    border-top: 1px solid #DDD;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
}
.idbox .panelheading {
    border-width: 1px 1px medium;
    border-style: solid solid none;
    border-color: #E4E5E7 #E4E5E7 -moz-use-text-color;
    -moz-border-top-colors: none;
    -moz-border-right-colors: none;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    border-image: none;
    font-size: 90%;
    background: none repeat scroll 0% 0% #F7F9FA;
    padding: 10px 20px;
}
.media:first-child {
    margin-top: 0px;
}
.media, .mediabody {
    overflow: hidden;
}
.mediabody-border {
	border-left:1px solid #CCC;
	padding-left:10px;
}
.idpanel .panelbody .media-image {
    text-align: center;
    margin-right: 10px;
    min-width: 100px;
}
.idpanel .author-info {
    font-size: 12px;
}
.mediabody {
    overflow: hidden;
}
.media-left, .media-right, .mediabody {
    display: table-cell;
    vertical-align: top;
}
.media-left, .media > .pull-left {
    padding-right: 10px;
}
.mediabody {
    width: 10000px;
}
.media, .mediabody {
    overflow: hidden;
}
.panelbody::before, .panelbody::after {
    display: table;
    content: " ";
}
/*INPUT*/
.form-group {
    margin-bottom: 15px;
}
span.input-icon {
    display: inline-block;
}
.input-icon {
    position: relative;
    width: 100%;
}
.input-icon > input.input-sm {
    padding-left: 32px;
}
.input-icon > input {
    padding-left: 36px;
    padding-right: 6px;
}
textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"] {
    border-radius: 0px !important;
    background-clip: padding-box !important;
    color: #858585;
    background-color: #FBFBFB;
    border: 1px solid #D5D5D5;
    font-family: inherit;
    transition: box-shadow 0.45s ease 0s, border-color 0.45s ease-in-out 0s;
    box-shadow: none;
}
.input-sm {
    height: 30px;
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
}
.input-icon > input.input-sm + [class*="fa-"], .input-icon > input.input-sm + [class*="glyphicon-"] {
    width: 30px;
    font-size: 12px;
    padding-top: 0px;
    line-height: 30px;
}
.input-icon.inverted > [class*="fa-"], .input-icon.inverted > [class*="glyphicon-"] {
    color: #FFF;
    background-color: #262626;
}
.input-icon > [class*="fa-"], .input-icon > [class*="glyphicon-"] {
    z-index: 2;
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    width: 34px;
    height: 100%;
    line-height: 28px;
    display: inline-block;
    color: #555;
    font-size: 14px;
    text-align: center;
    padding-top: 3px;
    opacity: 0.7;
}
/*TOASTER*/
.toast-title {
    font-weight: bold;
}

.toast-message {
    -ms-word-wrap: break-word;
    word-wrap: break-word;
}

.toast-message a,.toast-message label {
    color: #fff;
}

.toast-message a:hover {
    color: #ccc;
    text-decoration: none;
}

.toast-close-button {
    position: relative;
    right: -.3em;
    top: -.5em;
    float: right;
    font-size: 18px;
    font-family: 'FontAwesome';
    font-weight: bold;
    color: #fff;
    -webkit-text-shadow: 0 1px 0 #fff;
    text-shadow: 0 1px 0 #fff;
    zoom: 1;
    filter: alpha(opacity=80);
    -webkit-opacity: .8;
    -moz-opacity: .8;
    opacity: .8;
}

.toast-close-button:hover,.toast-close-button:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
    zoom: 1;
    filter: alpha(opacity=40);
    -webkit-opacity: .4;
    -moz-opacity: .4;
    opacity: .4;
}

button.toast-close-button {
    padding: 0;
    cursor: pointer;
    background: transparent;
    border: 0;
    -webkit-appearance: none;
}

.toast-top-full-width {
    top: 0;
    right: 0;
    width: 100%;
}

.toast-bottom-full-width {
    bottom: 0;
    right: 0;
    width: 100%;
}

.toast-top-left {
    top: 12px;
    left: 12px;
}

.toast-top-right {
    top: 12px;
    right: 12px;
}

.toast-bottom-right {
    right: 12px;
    bottom: 12px;
}

.toast-bottom-left {
    bottom: 12px;
    left: 12px;
}

#toast-container {
    position: fixed;
    z-index: 999999;
}

#toast-container>div {
    margin: 0 0 6px;
    padding: 15px 15px 15px 50px;
    width: 300px;
    -webkit-border-radius: 3px;
    -webkit-background-clip: padding-box;
    -moz-border-radius: 3px;
    -moz-background-clip: padding;
    border-radius: 3px;
    background-clip: padding-box;
    background-position: 15px center;
    background-repeat: no-repeat;
    -webkit-box-shadow: 0 0 12px #999;
    -moz-box-shadow: 0 0 12px #999;
    box-shadow: 0 0 12px #999;
    color: #fff;
    zoom: 1;
    filter: alpha(opacity=80);
    -webkit-opacity: .8;
    -moz-opacity: .8;
    opacity: .8;
}

#toast-container>:hover {
    -webkit-box-shadow: 0 0 12px #000;
    -moz-box-shadow: 0 0 12px #000;
    box-shadow: 0 0 12px #000;
    zoom: 1;
    filter: alpha(opacity=100);
    -webkit-opacity: 1;
    -moz-opacity: 1;
    opacity: 1;
    cursor: pointer;
}

#toast-container>.toast {
    background-image: none!important;
}

#toast-container>.toast:before {
    position: fixed;
    font-family: FontAwesome;
    font-size: 24px;
    line-height: 18px;
    float: left;
    color: #fff;
    padding-right: .5em;
    margin: auto .5em auto -1.5em;
}

#toast-container.toast-top-full-width>div,#toast-container.toast-bottom-full-width>div {
    width: 96%;
    margin: auto;
}

.toast {
    background-color: #030303;
}

.toast-white {
    background-color: #fff!important;
}

.toast-snow {
    background-color: #fbfbfb!important;
}

.toast-whitesmoke {
    background-color: #f5f5f5!important;
}

.toast-seashell {
    background-color: #f3f3f3!important;
}

.toast-ivory {
    background-color: #eee!important;
}

.toast-platinum {
    background-color: #e5e5e5!important;
}

.toast-lightgray {
    background-color: #d0d0d0!important;
}

.toast-gray {
    background-color: #ccc!important;
}

.toast-darkgray {
    background-color: #999!important;
}

.toast-silver {
    background-color: #777!important;
}

.toast-sonic-silver {
    background-color: #737373!important;
}

.toast-storm-cloud {
    background-color: #666!important;
}

.toast-lightcarbon {
    background-color: #555!important;
}

.toast-carbon {
    background-color: #444!important;
}

.toast-slate-gray {
    background-color: #333!important;
}

.toast-darkcarbon {
    background-color: #262626!important;
}

.toast-blue {
    background-color: #5db2ff!important;
}

.toast-info {
    background-color: #57b5e3!important;
}

.toast-sky {
    background-color: #11a9cc!important;
}

.toast-primary {
    background-color: #4374e0!important;
}

.toast-blueberry {
    background-color: #6f85bf!important;
}

.toast-palegreen {
    background-color: #a0d468!important;
}

.toast-success {
    background-color: #53a93f!important;
}

.toast-green {
    background-color: #8cc474!important;
}

.toast-lightyellow {
    background-color: #f6d52e!important;
}

.toast-yellow {
    background-color: #ffce55!important;
}

.toast-warning {
    background-color: #f4b400!important;
}

.toast-gold {
    background-color: #f9b256!important;
}

.toast-orange {
    background-color: #fb6e52!important;
}

.toast-lightred {
    background-color: #e46f61!important;
}

.toast-darkorange {
    background-color: #ed4e2a!important;
}

.toast-red {
    background-color: #df5138!important;
}

.toast-danger {
    background-color: #d73d32!important;
}

.toast-pink {
    background-color: #e75b8d!important;
}

.toast-darkpink {
    background-color: #cc324b!important;
}

.toast-magenta {
    background-color: #bc5679!important;
}

.toast-purple {
    background-color: #7e3794!important;
}

.toast-maroon {
    background-color: #981b48!important;
}

/**/
.stat-panel{
	background:#fff;
	border-radius:2px;
	display:table;
	margin-bottom:22px;
	overflow:hidden;
	position:relative;
	table-layout:fixed!important;
	width:100%
}

.stat-rows{
	display:table;
	height:100%;
	table-layout:fixed!important;
	width:100%
}

.stat-cell,.stat-row{
	float:none!important
}

.stat-row{
	display:table-row!important;
	width:100%
}

.stat-cell{
	display:table-cell!important;
	overflow:hidden;
	padding:20px;
	position:relative
}

.stat-cell>*{
	position:relative
}

.stat-cell .fa{
	line-height:1.42857143
}

.stat-cell .bg-icon{
	bottom:0;
	color:rgba(0,0,0,.05);
	font-size:100px;
	line-height:100px;
	height:100px;
	position:absolute;
	right:0;
	text-align:center;
	width:120px
}

.stat-cell .bg-icon.bg-icon-left{
	left:0;
	right:auto
}

a.stat-cell:hover{
	text-decoration:none
}

.stats-sparklines{
	display:inline-block;
	margin-bottom:-2px;
	position:relative;
	width:100%
}

.stat-counters{
	border-bottom:1px solid #e4e4e4;
	border-top:1px solid #e4e4e4;
	display:table;
	overflow:hidden;
	table-layout:fixed;
	width:100%
}

.stat-counters>.stat-cell{
	display:table-cell;
	float:none
}

.stat-counters>.stat-cell+.stat-cell{
	border-left:1px solid #e4e4e4
}

.stat-counters[class*=bg-],.stat-counters[class*=bg-] .stat-cell{
	border-color:#fff;
	border-color:rgba(0,0,0,.2)
}
.bg-success.darken[href]:hover, .bg-success.darker {
    background: none repeat scroll 0% 0% #51AB51 !important;
}
.bg-success, .bg-success a, .bg-success a:focus, .bg-success:active, .bg-success:focus, .bg-success:hover {
    color: #FFF;
}
.bg-success {
    background: none repeat scroll 0% 0% #5EBD5E !important;
}