* {
	margin: 0;
	padding: 0;
}
body {
	font-family: serif;
}
.container {
	width: 425px;
	margin: 25px auto;
	height: 400px;
}

h3 {
	color: white;
	font-size: 25px;
	font-weight: bold;
	text-align: center;
	margin-bottom: 10px;
	
}
p {
	color: #171814;
	font-size: 14px;
	line-height: 23px;
	margin-bottom: 15px;
}

