/* CSS Document */
.message {
	display:none;
}
.noprint {
	display:none;
}
#printbutton{
	display:none;
}
#spanstatus{
	display:none;
}
#closebutton{
	display:none;
}
.trcolor {
	background-color:#FFFFFF;
}